.text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -55px;
}
.text1,
.text3 {
  width: 14.82px;
  height: 3.09px;
  background: #eeeeee;
  border-radius: 50px;
}

.text2 {
  width: 25.31px;
  height: 8.15px;
  background: #414880;
  border-radius: 50px;
  margin: 0 10px;
}
.services {
  text-align: center;
  margin-top: 130px;
}

.services p {
  line-height: 24px;
  margin-top: 16px;
  letter-spacing: 1.6px;
}

.services h6 {
  font-size: 16px;
  font-weight: 600;
  color: #ff64ae;
}
.services h1 {
  font-size: 36px;
  font-weight: 600;
  margin-top: 8px;
  line-height: 48px;
  color: #091156;
}

.services .box_list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  margin: 80px 7%;
  flex: 1;
  flex-wrap: wrap;
  row-gap: 50px;
}

.box_list .box1 {
  width: 343px;
  height: 458px;
  background: #fff;
  box-shadow: 0px 25px 50px 25px #efeff8;
  border-radius: 42px;
  padding: 0 35px;
}

.box_list .box1 img {
  margin-top: 20px;
  margin: 60px auto;
}

.services .box1 h3 {
  font-size: 18px;
  font-weight: 600;
  color: #091156;
  margin-top: 50px;
  margin-bottom: 13px;
}
.services .box1 span {
  font-size: 14px;
  font-weight: 400;
  color: #8b8b8b;
  text-align: center;
  letter-spacing: 1px;

  line-height: 24px;
}
