.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  margin: -60px 0% 0 calc(5% - 10px);
}

.about.active {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about h6 {
  margin-top: 10px;
}

.about .about_content {
  width: calc(40%);
  margin-top: -150px;
  margin-left: calc(4.5% + 6px);
}
.about_content h1 {
  letter-spacing: 0.3px;
}

.about_content p {
  width: calc(100% - 80px);
  margin-top: 20px;
  letter-spacing: 2px;
}
.about .about_image {
  width: 630px;
  margin-right: 3.5%;
  height: 780px;
  border-radius: 50px;
}

.about .about_image img {
  width: 696px;
  height: 500px;
  margin-top: 90px;
  border-radius: 50px;
}

.about_content .watch {
  display: flex;
  align-items: center;
  margin-top: 74px;
}
.watch .watchbtn {
  display: flex;
  align-items: center;
  margin-left: 40px;
  width: 50%;
}

.watch button {
  letter-spacing: 1px;
}

.watchbtn p {
  font-size: 16px;
  font-weight: 600;
  color: #8b8b8b;
  margin-left: 20px;
  margin-top: -5px;
  letter-spacing: 1px;
}

.about.active .about_content {
  width: 100%;
  margin-top: 60px;
}
.about.active .about_image {
  width: 100%;
  margin: 40px 20px 40px 0;
}
